body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 1px;
    margin: 20px auto;
    border: 2px solid  black;
}

.cell {
    background:silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover{
    background:rgba(251, 246, 246, 0.786) ;
    border: 1px solid greenyellow ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.status {
    font-size: 1.5em;
    margin-top: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #3c7ee7;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
    
}

footer{
    margin-top: 70px;
    margin-bottom: -70px;
 text-align: center;
}